<app-toolbar></app-toolbar>
<div class="main-content">
  <h1>{{ questionCategoryDetail.title }}</h1>
  <mat-stepper labelPosition="bottom" [linear]="true" #stepper>
    <mat-step
      [stepControl]="question.formGroup"
      *ngFor="let question of this.questionCategoryDetail.questionInfo"
    >
      <form [formGroup]="question.formGroup">
        <div>{{question.title}}</div>
        <ul>
          <li *ngFor="let answer of question.questionAnswerInfo; let i = index">
            <mat-checkbox
              formControlName="{{ question.questionId }}-formCtrl"
              value="{{ answer.questionAnswerId }}"
              (change)="
                onAnswerChange(question.questionId, answer.questionAnswerId)
              "
            >
              {{ answer.answer }}
            </mat-checkbox>
          </li>
        </ul>

        <div>
          <button mat-button matStepperPrevious *ngIf="question.sequence !== 1">
            Back
          </button>
          <button
            mat-button
            matStepperNext
            *ngIf="
              question.sequence !== this.questionCategoryDetail.totalQuestion;
              else elseBlock
            "
          >
            Next
          </button>
          <ng-template #elseBlock
            ><button mat-button (click)="onSubmit()">
              Submit
            </button></ng-template
          >
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>
